.navbar {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 6px -6px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body {
    background-image: url("background.jpg");
}

.dropdown-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

#footer {
    -webkit-box-shadow: 8px 0 -6px 6px black;
    -moz-box-shadow: 8px 0 -6px 6px black;
    box-shadow: 6px 0 -6px 6px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    background: #020202bb;
}

#tr_aboutme,
#tr_personalinfo,
#tr_qualifications,
#tr_education,
#tr_workexperience,
#tr_references {
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
    text-align: center;
    background: #343a40bb;
}

#tr_tertiary,
#tr_secondary,
#tr_elementary
 {
    background: #414a53bb;
}

.table {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: large;
}

#td_solo {
    font-weight: lighter;
    font-size: large;
    text-align: initial;
    color: #a3a3a3;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    width: 50%;
}

#td_content {
    font-weight: bold;
    font-size: medium;
    color: #b9b9bb;
    text-align: right;
    width: 50%;
}

#td_description {
    font-weight: lighter;
    font-size: medium;
    color: #a3a3a3;
    width: 50%;
}
